@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/*
selector {
    property: value;
    property2: value2;
}
*/

* {
    margin: 0;
    padding: 0;
}


:root {
    font-family: 'DotGothic16', sans-serif;;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.logo {
    text-transform: uppercase;
}

img {
    width: 100%;
    display: block;
}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header nav .menu a:hover {
    font-weight: bold;
}

.hello {
    text-align: center;
    display: block;
    margin-top: -100px;
    font-size: 2rem;
    color: bisque;
}

#products {
    color: red;
}

.products-header {
    color: green;
}


p::first-letter {
    font-size: 3rem;
}