@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "DotGothic16", sans-serif;
  --main-color: black;
  --accent-color: rgb(50, 206, 211);
  scroll-behavior: smooth;
}

.container {
  max-width: 980px;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

header > nav {
  background-color: var(--accent-color);
  padding: 5px;
}

@media (min-width: 600px) {
  header > nav > .container {
    display: flex;
  }
}

header .banner h1,
header .logo {
  color: var(--main-color);
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}

.burger-icon {
    font-size: 3.5rem;
}

#burger-checkbox {
    display: none;
}

header nav .menu {
  display: none;
  transition: transform 7s;
  flex-direction: column;
  margin-left: 5px;
  transform: scaleY(0);
  transform-origin: top;
}

#burger-checkbox:checked ~ .menu {
    display: flex;
    transform: scaleY(1);
}

@media (min-width: 600px) {
  .burger-icon {
      display: none;
  }

  header nav .menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
  }
}

header nav .menu a {
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
}

header nav .menu a:hover {
  font-weight: bold;
}

img {
  width: 100%;
  display: block;
}

header .banner {
  background-image: url(../img/baby-yoda.svg);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .banner h1 {
  color: var(--accent-color);
}

main .products > article {
  border: 1px solid var(--main-color);
  padding: 5px;
}

main .products > article .buttons {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 500px) {
  main .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }
}

@media (min-width: 700px) {
  main .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 980px) {
  main .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
